@font-face {
  font-family: 'iconfont';  /* project id 1112131 */
  src: url('//at.alicdn.com/t/font_1112131_ckjk70tqtv.eot');
  src: url('//at.alicdn.com/t/font_1112131_ckjk70tqtv.eot?#iefix') format('embedded-opentype'),
  url('//at.alicdn.com/t/font_1112131_ckjk70tqtv.woff2') format('woff2'),
  url('//at.alicdn.com/t/font_1112131_ckjk70tqtv.woff') format('woff'),
  url('//at.alicdn.com/t/font_1112131_ckjk70tqtv.ttf') format('truetype'),
  url('//at.alicdn.com/t/font_1112131_ckjk70tqtv.svg#iconfont') format('svg');
}
.iconfont {
  font-family: "iconfont" !important;
  font-size: u(14);
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}